<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>adjustmentBaseVersion</key>
	<integer>0</integer>
	<key>adjustmentData</key>
	<data>
	bVAxbsMwDPwLZ9ewYyMJtBXt0CwN0ALtUHRgbNpWYUmGRCcNgvy9tJwEGboRxzvy7k5g
	iLFGRlAnMBiY/AvptmNQqyxLLtCnrrkDtZwQ5zVZRtbOgsrPCTTOG+QP8mGGEtjP88Y2
	bjq7G3Vfv45mRx4ULPLn5QISwGG4aaAs8jRL8zKTRag6MvhGez0v5efQI09vhGmw2r6D
	vMX6ZwxsxEsA9XX6xwZZ3PVUxzkQs7ZtmPwc8RCvSpJWW+yfvBsi8LuNiAgWK5EY9Bzx
	wxy/KNcJHG+cdSEc9ji1RfbRtj2BehA6juyirrs0WRRlApWzkW35WnB2D14qnsJqrqZJ
	Mupa4ulGx+KizWvdm/tN5UwqdfaUDp2T3+fv8x8=
	</data>
	<key>adjustmentEditorBundleID</key>
	<string>com.apple.Photos</string>
	<key>adjustmentFormatIdentifier</key>
	<string>com.apple.photo</string>
	<key>adjustmentFormatVersion</key>
	<string>1.4</string>
	<key>adjustmentTimestamp</key>
	<date>2022-05-20T08:49:09Z</date>
</dict>
</plist>
